@model IEnumerable<MvcSocial.Models.User>

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>

<p>
    <a asp-action="Add">@Localizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreation)
        </td>
        <td>
            <a asp-action="Del" asp-route-id="@item.Login">@Localizer["Delete"]</a>
        </td>
    </tr>
}
    </tbody>
</table>
